python-telegram-bot
httpx
telethon
cryptg
pyaes
requests
curl_cffi
beautifulsoup4
certifi
urllib3
charset-normalizer
idna
python-socketio
websocket-client
DrissionPage
cryptography
pycryptodome
phonenumbers
openpyxl
python-dateutil
pytz
APScheduler
